@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Hide arrows in WebKit browsers (Chrome, Safari) */
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* Hide arrows in Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}
